# App
NODE_ENV='dev'
HTTP_PORT=8080
USER_PORT=8081
ADMIN_PORT=8082
BASE_URL=http://localhost:9000
DOMAIN=
SITENAME=
API_ENDPOINT=

# Auth
USER_URL=
TOKEN_SECRET=
EMAIL_VERIFIED_SUCCESS_URL=

# Email 
MAILER_TRANSPORT='sendgrid'
SENDGRID_API_KEY='SG.....'
ADMIN_EMAIL=admin@example.com
SENDER_EMAIL=sender@example.com

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=undefined
REDIS_PREFIX=undefined

# Mongo
MONGO_URI=

# Recaptcha
GOOGLE_RECAPTCHA_SECRET_KEY=googleReCaptchaSecretKey

# Stream
REJECT_UNAUTHORIZED=

# Next
NEXT_PUBLIC_BUILD_VERSION=
NEXT_PUBLIC_API_ENDPOINT=https://api.example.com
NEXT_PUBLIC_SOCKET_ENDPOINT=https://api.example.com
NEXT_PUBLIC_MAX_SIZE_IMAGE=5
NEXT_PUBLIC_MAX_SIZE_FILE=100
NEXT_PUBLIC_MAX_SIZE_TEASER=200
NEXT_PUBLIC_MAX_SIZE_VIDEO=2000
NEXT_PUBLIC_MAX_STREAM_BITRATE=900