NODE_ENV=production
PORT=8081
API_ENDPOINT=http://localhost:8080
# https://myle-api.xscripts.info
NEXT_PUBLIC_API_ENDPOINT=https://api.example.com
NEXT_PUBLIC_SOCKET_ENDPOINT=https://api.example.com

NEXT_PUBLIC_MAX_SIZE_IMAGE=5
NEXT_PUBLIC_MAX_SIZE_FILE=100
NEXT_PUBLIC_MAX_SIZE_TEASER=200
NEXT_PUBLIC_MAX_SIZE_VIDEO=2000
NEXT_PUBLIC_MAX_STREAM_BITRATE=900
